<profile>
            <id>jelastic</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <jelastic.username>kristof.polleunis@gmail.com</jelastic.username>
                <jelastic.password>i9g6vUWPZ9EuYc3</jelastic.password>
            </properties>
</profile>